h1 {
    text-align: center;
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.one {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 15px;
    font-size: 30px;
    background-color: black;
    color:white;
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

.two {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 15px;
    font-size: 30px;
    background-color: black;
    color: white;
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

.three {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 15px;
    font-size: 30px;
    background-color: black;
    color: white;
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

.four {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 15px;
    font-size: 30px;
    background-color: black;
    color: white;
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

.five {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 15px;
    font-size: 30px;
    background-color: black;
    color: white;
    margin: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

 #first {
    color: gold;
 }

 #second {
    color: silver;
 }

 #third {
    color: #CD7F32;
 }

