@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&family=Roboto+Condensed:wght@400;700&display=swap');

header {
    display: flex;
    justify-content: space-around;
    gap: 700px;
    background-color: #4b4527;
    margin: 0 128px 0 130px;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
}

.top-btns{
    border: solid;
    border-radius: 20px;
    padding: 10px;
    background-color: darkgrey;
    box-shadow: 2px 2px 4px black;
    color: #4E342E;
    font-size: 15px;
    font-family: cursive;
}

body {
    background-color: black;
    font-family: creepster, cursive;
}


img {
    height: 800px;
    width: 1193px;
}

p {
    display: flex;
    justify-content: center;
    border: solid 5px black;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: auto;
    font-size: 30px;
    background-color: #4b4527;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    border: solid 5px black;
    background-color: darkgrey;
    border-radius: 50px;
}

.up-btn {
    padding: 20px;
    margin: 10px 15px 0 220px;
    box-shadow: 6px 5px 5px black;
    border-radius: 10px;
    background-color: yellow;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
}

.side-btn {
    padding: 20px;
    box-shadow: 6px 5px 5px black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
}

.down-btn {
    padding: 20px;
    margin: 1px 0 10px 203px;
    box-shadow: 6px 5px 5px black;
    border-radius: 10px;
    font-weight: bold;
    background-color: lightgreen;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
} 

.interact-btn {
    padding: 50px;
    box-shadow: 6px 8px 5px black;
    margin-left: 350px;
    border-radius: 30px;
    background-color: grey;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
}

#left {
    margin: 10px 20px 0 120px;
    background-color: blue;
}

#right {
    margin-left: 65px;
    background-color: red;
}

.dpad {
    margin-right: 100px;
    font-family: "Roboto Condensed", sans-serif;
}